<body>
  <div class="wrapper" >
    <h2>ようこそ！！MamaPapaへ!</h2>
    <br>このアプリは育児を支援アプリです！
    <br>子供と遊びに行った場所、おすすめの病院などの情報をシェアしましょう！
    <br>良かったところのメモとして、遊びに行く場所の検索ツールとして活用できます
  </div>
  <div class="box">
  <div class="bgImg src1"></div>
  <div class="bgImg src2"></div>
  <div class="bgImg src3"></div>
  <div class="bgImg src4"></div>
</div>
</body>
