<div class="top_content">
    <h2>ようこそ！！MamaPapaへ!</h2>
    <p>このアプリは育児を支援アプリです！</p>
    <br>
    <br>
    <p>子供と遊びに行った場所、おすすめの病院などの情報をシェアしましょう！</p>
    <br>
    <br>
    <p>良かったところのメモとして、遊びに行く場所の検索ツールとして活用できます</p>
    <br>
    <br>
    <p>近所の穴場スポットがみつかるかもしません！</p>
    <br>
    <br>
    <p>あなたの子育てに少しでもお役に立てたら幸いです…</p>
</div>
