<h2>メッセージ一覧</h2>

  <div class="conversations">
  <% @conversations.each do |conversation| %>
    <div class="conversation-container">
      <table align=”center” class="conversations">
        <tr>
          <% if conversation.target_user(current_user).present? %>
            <% if conversation.target_user(current_user).image? %>
              <th> <%= image_tag conversation.target_user(current_user).image.thumb.url ,class:'img-circle'%></th>
            <% else %>
              <th><%= image_tag "noimagehito.png", class:"user_show_icon",class:'img-fluid d-flex img-thumbnail middle-icon history-index-img' ,class:'img-circle'%></th>
            <% end %>
              <td class="conversations"><%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%></td>
            <% end %>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
