/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 // // スマホサイズ
 // @media (max-width: 767px) {
 //   p {
 //     color: red;
 //   }
 // }
 // // タブレットサイズ
 // @media (min-width: 768px) and (max-width: 991px) {
 //   p {
 //     color: blue;
 //   }
 // }
 // // PCサイズ
 // @media (min-width: 992px) and (max-width: 1199px) {
 //   p {
 //     color: yellow;
 //   }
 // }
 // // 大きなPCサイズ
 // @media (min-width: 1200px) {
 //   p {
 //     color: pink;
 //   }
 // } /*ページネーション自体のデザイン*/


.pagination>li>a {
   border: none;
   color: #696969;
 }


 .pagination>.active>a {
   background: #93c9ff;
   border-radius: 15px;
 }


 .pagination>li>a:hover {
   border-radius: 15px;
 }
 body{
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 100px;
  font-family: "筑紫A丸ゴシック";
  margin: 0;
  padding: 0;
  background-size: cover;
  }
 header{
  text-align: center;
  background-color: #cd853f;
  }
  footer{
    text-align: center;
    bottom: 0; /*下に固定*/
    background-color: #cd853f;
  }
