// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul{
list-style: none;
}
// .container{
// float: left;
// }

li{
padding-bottom: 10px
}



.comment_content{
  width: 200px;
  padding: 5px;
  text-align: right;
  padding:2px 10px ;
  background-color: #f5fffa;
  border-radius: 10px;
  margin-right:10px;
  border-radius: 20px  20px 3px 20px ;
  word-wrap: break-word;
  display:inline-block;
  position: relative;

}
.comment-image{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit:cover;
}
li{
text-align: center;
text-justify:auto;
}
#comments_area{
width: 50%;
height: 300px;
text-align: left;
margin-left: auto;
margin-right: auto;
border: 0.5px solid black;
overflow-y: scroll;
}
