// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body{
//     width:80%;
//     margin-left:10%;
//     margin-right:10%;
//     }
div.contents{
  background-color: #ffffff;
  height: 500px;
  border: 4px solid #82636b;
  border-radius: 15px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  overflow-y: scroll;
}

table.post_facility{
  min-width: 250px;
  background-color:#e6ffe6;
  border-radius: 30px;
  table-layout: fixed;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 90%;
}

table.post_facility:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transition-duration: 1s;
  // transform: rotateX(360deg);
}


table.post_facility th{
  text-align: center;
}

table.post_facility td{
  // border:1px solid #ffffff;
}
tr{
  sborder:1px solid #000000;
  // background-color: #affadc;
}


input[type=file]{
  margin: 0 auto;
  padding-left: 200px;
}

.user_show_icon{
  width: 300px;
  height: 300px;
  border-radius: 300px;
  object-fit:cover;
}

img.index_img{
  width: 200px;
  height: 200px;
  border-radius: 200px;
  object-fit:cover;
}

.index_img:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.facility_index_icon{
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.facility-show-img{
  width: 900px;
  height: 500px;
  object-fit:cover;
}
//ここから下フォロー一覧
div.follow{
  background-image: image-url('10179014362.jpg');
  padding-top: 40px;
}
h3{
  margin: 0px
}

div.follow_container{
  width: 80%;
  padding: 60px;
  margin-left: 10%;
  height:600px;
  background-image: image-url('a214bcd8f8e6821a1095b373fb6ce9cc.png');
  background-size:750px;
  background-repeat: no-repeat;
  background-position: center ;
}

div.follow-contents{
  width: 80%;
  margin-left: 10%;
}
table.follow-table{
  width: 50%;
  margin-left: 25%;
  table-layout: fixed;
  border-bottom: 2px  groove;
}
img.follow-icon{
  width: 80px;
  height: 80px;
  border-radius: 80%;
  object-fit:cover;
}

div.follower_container{
  width: 80%;
  padding: 60px;
  margin-left: 10%;
  height:600px;
  background-image: image-url('6aaf2007d2c9c085a24bc371c2fe01b6.png');
  background-size:750px;
  background-repeat: no-repeat;
  background-position: center ;
}
img{
  width: 200px;
  height: 200px;
  // border-radius: 30%;
  object-fit:cover;
}

#facility_image{
  padding-right: 350px
}
#q_title_cont{
  width: 200px;
}
#q_prefecture_cont{
  width: 200px;
}
#q_address_cont{
  width: 200px;
}
.serch_input{
  width: 200px
}
#user_image{
  padding-right: 300px;
}
input.post_subumit{
  width: 150px;
  border-radius: 150px;
}
#map{
  height: 350px;
  width:500px;
  margin-left: auto;
  margin-right: auto;
}
