// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body{
//     width:80%;
//     margin-left:10%;
//     margin-right:10%;
//     }

div.contents{
  background-color: #993c29;
}

table.post_facility{
  background-color: #affadc;
  border-radius: 5px;
  table-layout: fixed;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 10px;
  // border-bottom:1px solid #000000;
  }

table.post_facility th{
text-align: center;
}

tbody{

}

table.post_facility td{
  // border:1px solid #ffffff;
}

td{
// border:1px solid #000000;
}
tr{
  sborder:1px solid #000000;
  background-color: #affadc;
}
input[type=file]{
margin: 0 auto;
padding-left: 200px;
}
