// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body{
//     width:80%;
//     margin-left:10%;
//     margin-right:10%;
//     }
table.post_facility{
  border:1px solid #f0f8ff;
  background-color: #228b22;
  table-layout: fixed;
  margin-left: 100px;
  margin-right: 100px;
  }

table.post_facility th{
text-align: center;
}


table.post_facility td{
  // border:1px solid #ffffff;
}

td{
// border:1px solid #000000;
}
tr{
  sborder:1px solid #000000;
  background-color: #228b22
}
input[type=file]{
margin: 0 auto;
padding-left: 200px;
}
