// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body{
//     width:80%;
//     margin-left:10%;
//     margin-right:10%;
//     }
div.contents{
  background-color: #ffffff;
  height: 500px;
  border: 4px solid #82636b;
  border-radius: 15px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  overflow-y: scroll;

}

table.post_facility{
  min-width: 250px;
  background-color:#e6ffe6;
  border-radius: 30px;
  table-layout: fixed;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 90%;

  // border-bottom:1px solid #000000;
}

table.post_facility th{
text-align: center;
}



table.post_facility td{
  // border:1px solid #ffffff;
}
tr{
  sborder:1px solid #000000;
  // background-color: #affadc;
}


input[type=file]{
margin: 0 auto;
padding-left: 200px;
}

.user_show_icon{
width: 500px;
border: 2px;
}
.facility_index_icon{
width: 150px;
height: 130px;
border-radius: 100px;
}
//userの写真の大きさ
//施設投稿一覧の写真の大きさ
