// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follower_inner {
  padding-top: 5%;
}

h3 {
  text-align: center;
}

.follower_container {
  height: 100%;
}
