// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.ui.segment{
overflow-y: scroll;
height: 600px;
width: 65%;
padding-bottom: 60px;
padding-top: 30px;
margin-left: 15.5%;
margin-top: 20px;
background-image: image-url('008-02.png');
background-size: cover;

}

div.m-body{
width: 200px;
// text-align: left;
font-size: 1.8rem;
padding: 5px;
background-color: #98fb98;
border-radius: 10px;
margin-right:10px;
border-radius: 20px  20px 30px 3px ;
word-wrap: break-word;
display:inline-block;
position: relative;
right:80px;
}

div.m-body-right{
  width: 200px;
  padding: 5px;
  text-align: right;
  font-size: 1.8rem;
  padding:2px 10px ;
  background-color: #f5fffa;
  border-radius: 10px;
  margin-right:10px;
  border-radius: 20px  20px 3px 20px ;
  word-wrap: break-word;
  display:inline-block;
  position: relative;
  left: 80px
}

div.list-right{
text-align: right;
}

div.item{
text-align: left;
padding-left: 100px
}
div.item-right{
text-align: center;
padding-right: 100px
}


div.message_content{
margin-right: 500px;
}

div.message_content-right{
margin-left: 500px;
}
.form-control{
width: 80%;
margin-left: 10%;
margin-top: 20px;
}
