// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.tophoge{
    background-image: image-url('JP_park_for_kids_Noon.jpg');
    background-size: cover;
    background-color: #111111;
    height: auto;
    font-size: 4rem;
      color: #ffffff;
    height: 800px;
}
